* {
	font-size: 1,3em;
	font-family: Arial;
}
nav {
	display: flex;
	justify-content: flex-end;

}

ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

li {
	display: inline-flex;
	margin-right: 10px;
	

}

.border-flex {

	border: 2px solid red;
}
.test1{
	width: 420px;
	height: 34px;
	border: 1px solid #f2f2f2;
	border-right: none;
	box-shadow: 2px 2px 1px #f2f2f2;
}
.test2{
	height: 34px;
	border: 1px solid #f2f2f2;
	border-left: none;
	box-shadow: 2px 2px 1px #f2f2f2;



}

a {
	text-decoration: none;
	color: #939393;
}

#sign_in {
	background-color: #4584EF;
	padding: 5px;
	border-radius: 2px;
}

.sign_in {
	color: white;
}

#appicon{
	width: 35px;
}

.google_logo {
	display: flex;
	justify-content: center;
}

#logo {
	width: 272px;
	height: 92px;
	padding-top: 109px;
}

.search {
	display: flex;
	justify-content: center;

}

#micro {
	width: 24px;
	height: 34px;
}

#user_input {
	width: 100%;
	height: 100%;
	border: transparent;
}

.button {
	display: flex;
	justify-content: center;
	margin-top: 20px;

}

.style_button {
	background-color: #f2f2f2;
	color : #757575;
	font-size: 13px;
	font-weight: bold;
	border: none;
	margin : 5px;
	padding: 10px;
	box-shadow: 2px 2px 1px #f2f2f2;

}

footer {
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: #f2f2f2;
}

footer div {
	border-style: solid;
	border-color: #e4e4e4;
	border-width: 0.5px;
}

.footer {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	color: #939393;
	margin-bottom: 10px;
}

.pays {
	padding: 10px;
	color: #939393;

}
